apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "ibmcpcs.ibm.com/v1",
          "kind": "SecretShare",
          "metadata": {
            "name": "secretshare-sample"
          },
          "spec": {
            "foo": "bar"
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v0.19.2
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v2
  name: ibm-secretshare-operator.v1.3.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: SecretShare is the Schema for the secretshares API
      kind: SecretShare
      name: secretshares.ibmcpcs.ibm.com
      specDescriptors:
      - description: Configmapshares defines a list of configmap sharing information
        displayName: Configmapshares
        path: configmapshares
      - description: Secretshares defines a list of secret sharing information
        displayName: Secretshares
        path: secretshares
      version: v1
  description: An Operator to Share Secrets and ConfigMaps between namespaces
  displayName: ibm-secretshare-operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - resources:
          - configmap
          - secret
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ibmcpcs.ibm.com
          resources:
          - secretshares
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ibmcpcs.ibm.com
          resources:
          - secretshares/status
          verbs:
          - get
          - patch
          - update
        serviceAccountName: ibm-secretshare-operator-manager-role
      deployments:
      - name: secretshare
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: secretshare
          template:
            metadata:
              annotations:
                productID: 068a62892a1e4db39641342e592daa25
                productMetric: FREE
                productName: IBM Cloud Platform Common Services
                productVersion: 3.6.0
              labels:
                name: secretshare
            spec:
              serviceAccountName: secretshare
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: beta.kubernetes.io/arch
                        operator: In
                        values:
                        - amd64
                        - ppc64le
                        - s390x
              containers:
              - command:
                - /manager
                args:
                - --enable-leader-election
                image: quay.io/opencloudio/ibm-secretshare-operator:latest
                imagePullPolicy: Always
                name: ibm-secretshare-operator
                env:
                - name: OPERATOR_NAME
                  value: "ibm-secretshare-operator-controller-manager"
                resources:
                  limits:
                    cpu: 500m
                    memory: 512Mi
                  requests:
                    cpu: 200m
                    memory: 200Mi
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - configmaps/status
          verbs:
          - get
          - update
          - patch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: ibm-secretshare-operator-leader-election-role
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - IBM
  - Cloud
  links:
  - name: Ibm Secretshare Operator
    url: https://ibm-secretshare-operator.domain
  maturity: alpha
  provider:
    name: IBM
  version: 1.4.0
