apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v0.19.2
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v2
  name: ibm-secretshare-operator.vX.Y.Z
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: SecretShare is the Schema for the secretshares API
      kind: SecretShare
      name: secretshares.ibmcpcs.ibm.com
      specDescriptors:
      - description: Configmapshares defines a list of configmap sharing information
        displayName: Configmapshares
        path: configmapshares
      - description: Secretshares defines a list of secret sharing information
        displayName: Secretshares
        path: secretshares
      version: v1
  description: An Operator to Share Secrets and ConfigMaps between namespaces
  displayName: ibm-secretshare-operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - IBM
  - Cloud
  links:
  - name: Ibm Secretshare Operator
    url: https://ibm-secretshare-operator.domain
  maturity: alpha
  provider:
    name: IBM
  relatedImages:
  - image: quay.io/opencloudio/ibm-secretshare-operator
    name: ibm-secretshare-operator
  version: 0.0.0
