apiVersion: apps/v1
kind: Deployment
metadata:
  name: secretshare
spec:
  replicas: 1
  selector:
    matchLabels:
      name: secretshare
  template:
    metadata:
      labels:
        name: secretshare
    spec:
      serviceAccountName: secretshare
      containers:
        - name: secretshare
          # Replace this with the built image name
          image: quay.io/opencloudio/ibm-secretshare-operator:v1.2
          command:
          - secretshare
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "secretshare"
